<div class="col-lg-12"> 
  <h1>Listado de Proveedores</h1>
  <div style="margin-bottom:60px;">
    <a class="btn btn-primary float-md-right" routerLink="/add-proveedores"><i class="fa fa-plus-circle"></i>  Añadir nuevo proveedor</a>
  </div>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>CIF</th>
      <th>Dirección</th>
      <th>Provincia</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Contacto</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{ proveedor.nombre }}</td>
      <td>{{ proveedor.cif }}</td>
      <td>{{ proveedor.direccion }}</td>
      <td>{{ proveedor.provincia }}</td>
      <td><a href="mailto:{{ proveedor.email }}">{{ proveedor.email }}</a></td>
      <td>{{ proveedor.telefono }}</td>
      <td>{{ proveedor.contacto }}</td>
      <td>
        <div class="btn btn-group">
            <a href="#">
              <button type="button" class="btn btn-primary">Editar</button>
            </a>  
            <a href="#">
              <button type="button" class="btn btn-danger">Eliminar</button>
            </a>
      </div>
      </td>
    </tr>
  </tbody>
</table>
</div>